<div class="sideNav">
  <div class="border-btm pl-3 py-3">Students</div>
  <div class="border-btm pl-4 py-3 cursor" [ngClass]="{'active':active==='viewStudents'}" (click)="nav('viewStudents')">- View Students</div>
  <div class="border-btm pl-4 py-3 cursor" [ngClass]="{'active':active==='addStudents'}" (click)="nav('addStudents')">- Add Students</div>
</div>

<div class="topNav border">
  <div class="col-12 row m-0"> 
    <div class="col-2">
      <img src="https://www.leadschool.in/images/Logo-LeadSchool.png" alt="Logo-LeadSchool" width="110px" class="py-1">
    </div>
    <div class="col-8">

    </div>
    <div class="col-2 row m-0 pl-0 pt-2 side-detail br-4">
      <div class="col-3 p-1 text-center"><i class="fas fa-bell"></i></div>
      <div class="col-3 p-1 text-center"><i class="fas fa-user"></i></div>
      <div class="col-6 p-1 text-center">9876543212</div>
    </div>
  </div>
</div>

<div class="mainPage">
  <div class="col-12" *ngIf="active==='viewStudents'">
    <div class="col-12">
        <table>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>School</th>
              <th>Class</th>
              <th>Division</th>
              <th>Status</th>
              <th>       </th>
            </tr>
            <tr *ngFor="let s of studentsList">
              <td>{{s.id}}</td>
              <td>{{s.name}}</td>
              <td>{{s.dob}}</td>
              <td>{{s.school}}</td>
              <td>{{s.stuClass}}</td>
              <td>{{s.division}}</td>
              <td>{{s.status}}</td>
              <td><span (click)="editFun(s.id)">Edit</span></td>
            </tr>
          </table>          
    </div>
  </div>
  <div class="col-12" *ngIf="active==='addStudents'">
      <app-add></app-add>
  </div>
  
</div>
